.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  width: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 3%;
  text-align: right;
  max-width: 35%;
  margin-top: 5rem;
}

.aboutText {
  font-size: 1.7em;
  color: #f05334;
  margin-top: 0;
  margin-bottom: 3rem;
}

.wavy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f05334;
  font-size: 4em;
}
.wavy span {
  animation: flip 6s infinite;
  animation-delay: calc(0.2s * var(--i));
  color: #f05334;
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.stageCubeCont {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  -moz-perspective: 1000px;
  margin-right: 4rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.cubeSpinner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: spincube 12s ease-in-out infinite;
  -moz-transform-style: preserve-3d;
  -moz-animation: spincube 12s infinite;
}

.cubeSpinner div {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  line-height: 200px;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
}

@keyframes spincube {
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(90deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

@-moz-keyframes spincube {
  16% {
    -moz-transform: rotateY(-90deg);
  }
  33% {
    -moz-transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -moz-transform: rotateY(180deg) rotateZ(90deg);
  }
  66% {
    -moz-transform: rotateY(90deg) rotateX(90deg);
  }
  83% {
    -moz-transform: rotateX(90deg);
  }
}

.cubeSpinner .face1 {
  transform: translateZ(100px);
  -moz-transform: translateZ(100px);
}
.cubeSpinner .face2 {
  transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
}
.cubeSpinner .face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}
.cubeSpinner .face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}
.cubeSpinner .face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.cubeSpinner .face6 {
  transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
}

@media screen and (max-width: 768px) {
  .main {
    min-height: auto;
    width: auto;
    overflow-y: auto;
    max-height: calc(100vh - 5rem);
    margin-top: 5rem;
  }
  .stageCubeCont {
    margin-bottom: 6rem;
  }
  .aboutText {
    font-size: 1.2rem;
    margin-top: 0;
  }
  .wavy span {
    font-size: 3rem;
  }
  .container {
    max-width: 40%;
    margin-right: 4%;
    margin-top: 20rem;
  }
  .fadeDesktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .stageCubeCont {
    margin-bottom: 4rem;
  }
  .container {
    margin-right: 4%;
    max-width: 40%;
    margin-top: 9rem;
  }
  .wavy span {
    font-size: 3.5rem;
  }
  .aboutText {
    font-size: 1.6rem;
    margin-top: 0;
  }
  .fadeMobile {
    display: none;
  }
}
