.backgroundImage {
  background-image: url("/assets/images/BackgroundImage21n.png");
  background-position: -45% 45%;
  background-repeat: no-repeat;
  background-size: 82%;
  background-color: #dfdfdf;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
