/* .backgroundImage {
  background: #c94b4b; 
  background: -webkit-linear-gradient(
    to right,
    #4b134f,
    #c94b4b
  );
  background: linear-gradient(
    to right,
    #4b134f,
    #c94b4b
  ); 
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
} */
.backgroundImage {
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-animation: gradientAnimation 2.5s linear infinite;
  animation: gradientAnimation 2.5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
