.backgroundImage {
  background-image: url("/assets/images/Untitled5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dfdfdf;
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .backgroundImage {
    background-position: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .backgroundImage {
    background-position: 50%;
  }
}
@media screen and (min-width: 992px) {
  .backgroundImage {
    background-position: 30%;
  }
  
}
