.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formfield {
  width: 100%;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.formwrapper {
  border-radius: 16px;
  box-shadow: 0 6px 80px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(211, 189, 189, 0.51);
  background-color: white;
  width: 90%;
  max-width: 500px;
  height: auto;
  padding: 2%;
}

.submitBtn {
  background-color: #f05334;
  color: white;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  margin: 2em 0;
  transition: transform 0.5s ease;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
}
.submitBtn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 5% 3%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    margin: 5% 2%;
  }
  .submitBtn {
    font-size: 0.9em;
  }
}