.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .title {
  line-height: 1.15;
  font-size: 4rem;
} */

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formfield {
  width: 100%;
}

.formwrapper {
  display: flex;
  border-radius: 16px;
  box-shadow: 0 6px 80px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(211, 189, 189, 0.51);
  width: 40em;
  height: 30em;
  padding: 2em;
  background-color: white;
}

@media (max-width: 1024px) {
  .formwrapper {
    width: 300px;
    height: auto;
    margin-left: 4em;
    margin-right: 4em;
    padding: 2em;
  }
}
@media (max-width: 768px) {
  .formwrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 2em;
  }
}
