.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formfield {
  width: 100%;
  margin: 1em;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  resize: vertical;
  font-family: Pt Sans, sans-serif;
}

.formfield:focus {
  border-color: #f05334;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 3%;
}

.formwrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 16px;
  box-shadow: 0 6px 80px rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(211, 189, 189, 0.51);
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 450px;
  padding: 2rem;
}

/* .submitBtn {
  background-color: #f05334;
  color: white;
  font-family: Pt Sans, sans-serif;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  margin: 3em;
  transition: transform 0.5s ease;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
}
.submitBtn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
} */

@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
  }

  .formwrapper {
    width: 90%;
    height: auto;
    padding: 1.5rem;
    margin-bottom: 8rem;
  }
  .submitBtn_pushable {
    margin-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  .submitBtn_front {
    font-size: 1rem;
    padding: 12px 42px;
  }
}

.submitBtn_pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2rem;
}

.submitBtn_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.submitBtn_edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg, 100%, 16%) 0%,
    hsl(340deg, 100%, 32%) 8%,
    hsl(9deg, 88%, 55%) 92%,
    hsl(340deg, 100%, 16%) 100%
  );
}

.submitBtn_front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 0.8rem;
  color: white;
  background: hsl(9deg, 88%, 55%) 92%;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.submitBtn_pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.submitBtn_pushable:hover .submitBtn_front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.submitBtn_pushable:active .submitBtn_front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.submitBtn_pushable:hover .submitBtn_shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.submitBtn_pushable:active .submitBtn_shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.submitBtn_pushable:focus:not(:focus-visible) {
  outline: none;
}
