body {
  padding: 0;
  margin: 0;
  font-family: "Changa", sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: KodeMono;
  src: url(/fonts/KodeMono-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: Changa;
  src: url(/fonts/Changa-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: SpaceGrotesk;
  src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}
