.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}

.textContainer {
  max-width: 20%;
  text-align: right;
  margin: 8%;
}

.maintext {
  font-size: 4em;
  color: #f05334;
}
