.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}

.textContainer {
  max-width: 30%;
  text-align: right;
  margin: 3%;
}

.maintext {
  font-size: 3em;
  color: #f05334;
}



.text {
  font-size: 4em;
  color: #f05334;
  padding-bottom: 30%;
  display: flex;
}
.wordWrapper:hover {
  color: #e77e69;
  /* transform: scale(1.4); */
  transition: all 0.3s ease;
  animation: bounce 0.3s ease;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
