.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}

.textContainer {
  max-width: 30%;
  text-align: right;
  margin: 3%;
}

.maintext {
  font-size: 3em;
  color: #f05334;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .textContainer {
    max-width: 90%;
  }

  .maintext {
    font-size: 2em;
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
  .textContainer {
    max-width: 100%;
  }

  .maintext {
    font-size: 1.5em;
  }
}
