.languageSwitcher {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 999;
}

.toggle {
  font-size: 2.8rem;
  border: none;
  background-color: transparent;
  color: #f05334;
}

@media screen and (max-width: 768px) {
  .toggle {
    font-size: 2rem;
  }
}
