.languageSwitcher {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1rem;
  top: 1rem;
  z-index: 999;
}

.toggle {
  font-size: 2.4rem;
  border: none;
  background-color: transparent;
  color: #f05334;
}

@media screen and (max-width: 768px) {
  .languageSwitcher {
    justify-content: flex-end;
    top: 4.3rem;
    left: auto;
    right: 1rem;
  }
  .toggle {
    font-size: 2rem;
  }
}
