.main {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.webContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.phoneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 10rem;
}

.webcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -12rem;
  margin-left: -12rem;
}

.phonecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -4rem;
}

.webContainer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10rem;
  max-width: 40%;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.phoneContainer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10rem;
  max-width: 60%;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.title {
  font-size: 1.5em;
  color: #f05334;
}

.subtitle {
  font-size: 1em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 100px;
  z-index: 999;
}

.button {
  margin: 1rem;
  padding: 0.5rem 2rem;
  background-color: #f05334;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-color: #dfdfdf;
  border: black;
  color: black;
}
.topbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 12rem;
  height: 3rem;
  background-color: #f05334;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}
.topbuttons:hover {
  background-color: #dfdfdf;
  border: black;
  color: black;
}

@media screen and (max-width: 768px) {
  .topbuttons {
    width: 8rem;
    height: 2rem;
  }
  .buttonContainer {
    position: fixed;
    top: 8rem;
    left: 5rem;
  }
  .phoneContainer {
    margin-top: 0;
    margin-left: 5rem;
  }
  .phoneContainer .content {
    margin-top: -15rem;
  }
  .phonecard {
    margin-left: -8rem;
  }
  .webContainer {
    margin-top: 1rem;
  }
  .webcard {
    margin-right: -16rem;
    margin-left: -16rem;
  }
  .webContainer .content {
    margin-top: -12rem;
  }
}

/* .containerphone {
  height: 50vh;
  margin: 10vh auto;
  width: auto;
}
.phone,
.phone img {
  height: 100%;
}
.phone {
  position: relative;
}
.phone img {
  display: block;
  border: 1.334vh solid #111;
  border-radius: 4.5vh;
} */

/* .computer {
  padding: 4em;
}
.monitor {
  width: 515px;
  height: 300px;
  overflow-y: scroll;
  border: solid 1em #333;
  border-radius: 0.5em;
  background-color: #111;
  background-size: cover;
  background-position: center;
}
.stand:before {
  content: "";
  display: block;
  position: relative;
  background: #222;
  width: 150px;
  height: 50px;
  top: 350px;
  left: 185px;
}
.stand:after {
  content: "";
  display: block;
  position: relative;
  background: #333;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 300px;
  height: 15px;
  top: 50px;
  left: 110px;
} */
