.main {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Desktop version */
.webContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.phoneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
}
.webcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -12rem;
  margin-left: -12rem;
}
.phonecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -4rem;
  margin-right: -4rem;
}
.webContainer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-top: -10rem;
  max-width: 40%;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 6px 80px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}
.phoneContainer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-top: -10rem;
  max-width: 50%;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 6px 80px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}
.title {
  font-size: 1.5em;
  color: #f05334;
  margin-bottom: 1rem;
}
.subtitle {
  font-size: 1em;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 6rem;
  z-index: 999;
}
.button {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* Mobile version*/
.mobileOnly {
  overflow-y: auto;
  max-height: calc(100vh - 11.5rem);
  margin-top: 11.5rem;
}
.mobileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Small phone */
.smallPhoneContainer {
  height: 50vh;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
}
.phone,
.phone img {
  height: 100%;
}
.phone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 14rem;
}
.phone img {
  display: block;
  border: 1.334vh solid #111;
  border-radius: 4.5vh;
}
.smallPhoneContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  text-align: justify;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  /* box-shadow: 0 6px 80px rgba(0, 0, 0, 0.4); */
  margin-top: 1rem;
  margin-bottom: 18rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  padding: 1rem;
}

/* Small computer */
.smallButton {
  margin: 0;
}
.computer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.monitor {
  width: 315px;
  height: 200px;
  border: solid 1em #333;
  border-radius: 0.5em;
  background-color: #333;
  background-size: cover;
  background-position: center;
}
.stand:before {
  content: "";
  display: block;
  position: relative;
  background: #222;
  width: 100px;
  height: 50px;
  top: 249px;
  left: 105px;
}
.stand:after {
  content: "";
  display: block;
  position: relative;
  background: #333;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 300px;
  height: 15px;
  top: 48px;
  left: 10px;
}
.smallWebContainer {
  margin-bottom: 8vh;
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.smallWebContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  text-align: justify;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  /* box-shadow: 0 6px 80px rgba(0, 0, 0, 0.4); */
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.8rem;
}
.smallSubtitle {
  font-size: 0.8em;
}
.smallTitle {
  font-size: 1.2em;
  color: #f05334;
  margin-bottom: 0.5rem;
}

/* Special button */
.submitBtn_pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  text-transform: capitalize;
  margin: 1rem;
}

.submitBtn_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.submitBtn_edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg, 100%, 16%) 0%,
    hsl(340deg, 100%, 32%) 8%,
    hsl(9deg, 88%, 55%) 92%,
    hsl(340deg, 100%, 16%) 100%
  );
}
.submitBtn_front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 0.8rem;
  color: white;
  background: hsl(9deg, 88%, 55%) 92%;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.submitBtn_pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.submitBtn_pushable:hover .submitBtn_front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.submitBtn_pushable:active .submitBtn_front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.submitBtn_pushable:hover .submitBtn_shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.submitBtn_pushable:active .submitBtn_shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.submitBtn_pushable:focus:not(:focus-visible) {
  outline: none;
}

@media screen and (max-width: 768px) {
  .webOnly {
    display: none;
  }
  .buttonContainer {
    top: 6.8rem;
    left: 2rem;
    right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
  .submitBtn_front {
    font-size: 1rem;
    padding: 12px 42px;
  }
}

@media screen and (min-width: 768px) and (max-width: 975px) {
  .buttonContainer {
    top: 2.5rem;
    left: 5%;
  }
  .topBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: auto;
  }
  .submitBtn_front {
    font-size: 0.8rem;
  }
}
