.main {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.webContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.phoneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 10rem;
}

.webcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -12rem;
  margin-left: -12rem;
}

.phonecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -4rem;
  margin-right: -4rem;
}

.webContainer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10rem;
  max-width: 40%;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.phoneContainer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10rem;
  max-width: 60%;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.title {
  font-size: 1.5em;
  color: #f05334;
}

.subtitle {
  font-size: 1em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 100px;
  z-index: 999;
}

.button {
  margin: 1rem;
  padding: 0.5rem 2rem;
  background-color: #f05334;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: Pt Sans, sans-serif;
  transition: transform 0.5s ease;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
}
.button:hover {
  background-color: #db6c56;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}
.topbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 12rem;
  height: 3rem;
  background-color: #f05334;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: Pt Sans, sans-serif;
  transition: transform 0.5s ease;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
}
.topbuttons:hover {
  background-color: #db6c56;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

/* Small Phone */
.containerphone {
  height: 50vh;
  margin-top: 45vh;
  display: flex;
  flex-direction: column;
}

.phone,
.phone img {
  height: 100%;
}
.phone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 12rem;
}
.phone img {
  display: block;
  border: 1.334vh solid #111;
  border-radius: 4.5vh;
}

.smallContentPhone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  margin-bottom: 15rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  padding: 0.5rem;
}

/* Small computer */
.computer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.monitor {
  width: 315px;
  height: 200px;
  overflow-y: scroll;
  border: solid 1em #333;
  border-radius: 0.5em;
  background-color: #111;
  background-size: cover;
  background-position: center;
}
.stand:before {
  content: "";
  display: block;
  position: relative;
  background: #222;
  width: 100px;
  height: 50px;
  top: 249px;
  left: 105px;
}
.stand:after {
  content: "";
  display: block;
  position: relative;
  background: #333;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 300px;
  height: 15px;
  top: 48px;
  left: 10px;
}

.containerweb {
  margin-top: 18vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.smallContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .topbuttons {
    width: 10rem;
    height: 2rem;
  }
  .buttonContainer {
    position: fixed;
    top: 7rem;
    left: 1rem;
  }
  .webOnly {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
}
