.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.speedDial {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  top: 4%;
  right: 1%;
}

@media screen and (max-width: 992px) {
  .speedDial {
    transform: scale(0.7);
    top: -1%;
  }
}
@media screen and (max-width: 768px) {
  .speedDial {
    transform: scale(0.7);
    top: -2%;
  }
}

@media screen and (max-width: 576px) {
  .speedDial {
    transform: scale(0.7);
    top: -2.5%;
  }
}

/* .icon {
  font-size: 2em;
}
.text {
  font-size: 1em;
  color: #f05334;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  bottom: 2%;
  left: 2%;
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 0.3rem;
}
.link:hover {
  font-size: 1.2em;
}

.linkedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  bottom: 12%;
  left: 2%;
  color: #f05334;
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 0.3rem;
}

.linkedin:hover {
  font-size: 1.2em;
}

.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  bottom: 22%;
  left: 2%;
  color: #f05334;
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 0.3rem;
}

.github:hover {
  font-size: 1.2em;
}
 */
