.main {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg) translate3d(-50%, 0, 0);
  top: 30%;
}

.linkWrapper {
  margin-right: 20px; /* Adjust the space between links */
  padding: 5px;
}

.link {
  color: inherit; /* Inherit color from parent */
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover,
.activeLink {
  color: yellow;
}
