.main {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 6%;
  top: 0;
  z-index: 999;
}
.navWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
}
.linkWrapper {
  padding: 1em;
  margin: 1em;
}

.link {
  color: #f05334;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 2.5em;
  margin: 0.2em;
}

.menutext {
  visibility: hidden;
}

.link:hover .menutext {
  visibility: visible;
}

.activeText {
  visibility: visible;
}
.line {
  position: absolute;
  bottom: 0;
  width: 75%;
  height: 2px;
  background-color: #f05334;
}

/* Responsive Styling */
@media screen and (max-width: 992px) {
  .main {
    align-items: flex-start;
    border-radius: 5%;
    right: 4%;
    margin-right: 3%;
    margin-top: 3%;
  }

  .navWrapper {
    align-items: flex-start;
    margin: 0;
  }

  .linkWrapper {
    margin: 0;
    padding: 0.5rem;
  }

  .link {
    font-size: 1em;
  }

  .icon {
    font-size: 1.5em;
    margin: 0;
  }
  .line {
    height: 1px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    right: 6%;
  }
}

@media screen and (max-width: 576px) {
  .main {
    right: 8%;
  }
}
